.mat-list-icon.album-thumb{
    width:60px;
    height:60px;
    border-radius:0px;
}

.mat-list-base .mat-list-item .mat-list-item-content{
    padding:0px;
}

.selected-album{
    margin-bottom:15px;

}

.meta-source{
    padding-right:10px;
}